[user]
	email =
	name = 
[difftool]
	prompt = false
[diff]
	tool = opendiff
[http]
	sslCAPath = ~/.ssh
[merge]
	tool = opendiff
[mergetool]
	prompt = false
[github]
	token =
	user = amchang
[core]
	excludesfile = /Users/adrian/.gitignore_global
	editor = vim
	quotepath = false
[push]
	default = matching
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
