[user]
	email = 
	name = Adrian C
[difftool]
	prompt = false
[diff]
	tool = opendiff
[http]
	sslCAPath = ~/.ssh
[merge]
	tool = opendiff
[mergetool]
	prompt = false
[github]
	token =
	user = amchang
[core]
	excludesfile = /Users/adrian/.gitignore_global
	editor = mvim -f
[push]
	default = matching
