# Home Folder Junk
.bash_history
.CFUserTextEncoding
.DS_Store
.dropbox/
.fontconfig/
.irb-history
.irb_history
.gem/
.npm/
.nvm/
.pip/
.rvm/
.ssh/
.vim/bundle/tagbar/doc/tags
.viminfo
.Trash/
.Xauthority
Desktop/
Development/
Documents/
Downloads/
Dropbox/
Movies/
Music/
Pictures/
Public/
Library/
